@font-face {
    font-family: font1; 
    src: url(hwzs.TTF); 
}


.btn
{
    position:relative;
    top:15px;
}

.info
{
    float:left;
    text-align: center;
    font-size:15px;
    position:absolute;
    top:0px;
    left:15%;
    width:20%; 
    height:100%;
    background-color: rgb(202, 255, 208);
    font-family: font1; 
    z-index:999;
}

.intro
{
    float:left;
    text-align: center;
    font-size:40px;
    position:absolute;
    top:0px;
    left:0px;
    width:15%; 
    height:15%;
    background-color: aquamarine;
    font-family: font1; 
}

.input
{
    float:left;
    text-align: center;
    font-size:10px;
    position:absolute;
    bottom:0px;
    left:0px;
    width:15%; 
    height:85%;
    background-color: blanchedalmond;
    font-family: font1; 
}

.texta
{
    height:460px;
}

.tree
{
    float:left;
    text-align: center;
    font-size:40px;
    position:absolute;
    top:0px;
    left:35%;
    width:65%; 
    height:100%;
    background-color: rgb(255, 255, 255);
    font-family: font1; 
}


.btn1
{
    float:left;
    text-align: center;
    font-size:27px;
    position:absolute;
    left:50%;
    height:50px;
    width:90px;
    font-family: font1; 
    transform:translateX(-50%);
}

.mutea
{
    float:left;
    text-align: center;
    font-size:27px;
    position:absolute;
    left:30%;
    top:15px;
    height:30px;
    font-family: font1; 
}


.btn2
{
    padding-bottom: 20px;
    float:left;
    text-align: center;
    font-size:27px;
    position:absolute;
    top:60px;
    left:50%;
    height:50px;
    width:90px;
    font-family: font1; 
    z-index:999;
    transform:translateX(-50%);
}

.board
{
    background-color:rgb(255, 255, 255);
    z-index:999;
    position:absolute;
    top:270px;
    left:50%;
    transform:translateX(-50%);
    /* border: 2px solid black; */
    /* border-radius: 2px; */
    /* box-shadow: 10px 10px 10px rgb(171, 171, 171); */
}

.test
{
    background-color:rgb(252, 104, 153);
    height:50%;
    width:50%;
    z-index:999;
}

.img1
{
    position:absolute;
    top:18px;
    left:85px;
    height:30px;
}

.img2
{
    position:absolute;
    top:18px;
    right:75px;
    height:30px;
}